@if (question) {
  <div class="flex flex-column">
    <div class="flex m-2 flex-column">
      @if (question.type === 'single_choice' && question.is_triggered) {
        <app-single-choice
          [question]="question"
          (userAnswer)="onSingleSelect()"
        ></app-single-choice>
      }
    </div>
    <div class="flex m-2 flex-column">
      @if (question.type === 'multiple_choice' && question.is_triggered) {
        <h2>{{ question.title }}</h2>
        <p-multiSelect
          [options]="question.options"
          (onChange)="onOptionSelected($event)"
          optionLabel="option"
          [placeholder]="'Select options'"
        >
          <ng-template let-value pTemplate="selectedItems">
            <div
              class="inline-flex align-items-center gap-2 px-1"
              *ngFor="let option of value; trackBy: identify"
            >
              <div>{{ option.verbose_name }}</div>
            </div>
            <div *ngIf="!value || value?.length === 0">Select Options</div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ option.verbose_name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      }
    </div>
    <div class="flex m-2 flex-column col-6">
      @if (question.type === 'multi_line_text' && question.is_triggered) {
        <h2>{{ question.title }}</h2>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="question.answer"
        ></textarea>
      }
    </div>
  </div>
}
