@if (question) {
  <h2>{{ question.title }}</h2>
  <p-dropdown
    [options]="question.options"
    (onChange)="onOptionChange($event)"
    optionLabel="name"
    [showClear]="false"
    placeholder="Select option"
  >
    <ng-template pTemplate="selectedItem">
      <div class="flex align-items-center gap-2" *ngIf="question.answer">
        <div>{{ getOptionName(question.answer!) }}</div>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>{{ option.verbose_name }}</div>
      </div>
    </ng-template>
  </p-dropdown>
}
